# 当shamefully-hoist设置为true时，pnpm会将所有依赖项都安装在项目的根node_modules文件夹中，而不是将它们分散到各个子文件夹中。
# shamefully-hoist=true
strict-peer-dependencies=false
# registry=https://registry.npmjs.org
registry=https://registry.npmmirror.com